---
interface Props {}
const {} = Astro.props;
---

<nav class="bg-gray-100">
  <div class="max-w-7xl mx-auto px-4">
    <ul class="flex gap-4">
      <li><a href="/">Home</a></li>
      <li><a href="/rooms">Rooms</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
