---
import { type ButtonProps, makeButtonClasses } from './constants';

const { size = 'default', textColor = 'ink-900', bg = 'khaki-200', class: className, ...rest } = Astro.props as ButtonProps;

const classes = makeButtonClasses(size, textColor, bg, className);
---

<button {...rest} role="button" class={classes}>
  <slot />
</button>
