---
import { makeButtonClasses, type ButtonLinkProps } from './constants';

const { href, size = 'default', textColor = 'ink-900', bg = 'khaki-200', class: className, ...rest } = Astro.props as ButtonLinkProps;
const classes = makeButtonClasses(size, textColor, bg, className);
---

<a {...rest} href={href} role="link" class={classes}>
  <slot />
</a>
